---
import { Image } from 'astro:assets';
import astronetix from '~/assets/astronetix.png';
import HeroImage from '~/components/hero-image.astro';
import Starfield from '~/components/starfield.astro';
import { Icon } from 'astro-icon/components';
import type { FooterLink } from '~/types';

const links: Array<FooterLink> = [
  {
    url: 'https://www.linkedin.com/company/astronetix/',
    description: 'Astronetix on LinkedIn',
    icon: 'mdi:linkedin',
  },
  {
    url: 'mailto:info@astronetix.com',
    description: 'Email Astronetix',
    icon: 'mdi:envelope',
  },
];

const widths = [450, 800];
const sizes = '(min-width: 640px) 42vw, 67vw';
---

<style>
  /* Ensure the body has a black background color */
  body {
    background-color: black;
  }

  /* Ensure the Starfield component covers the entire viewport */
  #starfield {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure it is behind other content */
  }

  /* ...other styles... */

  :global(#splash-bg-fallback) {
    display: none;
  }

  :global(noscript) ~ :global(#splash-bg-fallback) {
    display: block;
  }
</style>

<section class="relative h-full bg-black">
  <Starfield id="starfield" />
  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
    <HeroImage />
  </div>
  <div class="relative grid h-full place-items-center sm:grid-cols-1">
    <div id="astronetix_logo" class="self-start justify-center">
      <Image class="w-auto" src={astronetix} widths={widths} sizes={sizes} loading="eager" alt="Astronetix Logo" />
    </div>
    <div class="flex flex-col items-center gap-2 self-start sm:pt-12 sm:gap-4 sm:self-auto sm:justify-self-center">
      <p class="space-y-8 px-4 text-center font-custom">
        AstroNetix provides <span class="text-primary gradient-text">modern defense solutions</span> across the disciplines
        of Space, Cyber, and System Integration.
      </p>
      <p class="space-y-8 px-4 text-center">
        We specialize in providing unique mission focused subject matter experts, who have practical real-world
        experience and know how to improve our nation's security.
      </p>
    </div>
    <ul class="relative grid grid-cols-2 gap-4">
      {
        links.map((link) => (
          <li>
            <a
              class="flex size-16 items-center justify-center rounded-full border-2 border-current p-4"
              href={link.url}
            >
              <span class="sr-only">{link.description}</span>
              <Icon class="size-full" name={link.icon} />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</section>
<style>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }

    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #astronetix_logo {
    animation: float linear 2.5s infinite alternate;
  }

  @media (prefers-reduced-motion: reduce) {
    #astronetix_logo {
      @apply animate-none;
    }

    :global(#starfield) {
      @apply hidden;
    }

    #splash-bg-fallback {
      @apply block;
    }
  }
  .gradient-text {
    @apply bg-clip-text text-transparent;
    @apply bg-gradient-to-br from-indigo-500 via-fuchsia-500 to-pink-500;
  }
</style>
